---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout title="Page Not Found">
  <section class="lost-container">
    <h1>Looks like you're lost!</h1>
    <img src="/images/error.gif" alt="Lost" />
    <a href="/">Take Me Home</a>
  </section>
</BaseLayout>
