---
import { getCollection } from 'astro:content';
import PageLayout from '../layouts/PageLayout.astro';
import BlogPostItem from '../components/BlogPostItem.astro';

const talks = (await getCollection('talks'))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---
<PageLayout title="Talks" currentPage="Talks" description="Conference talks by Vladimir Jovanović">
  <h1 class="page-title">Talks</h1>
  <div class="post-list">
    {talks.map(talk => (
      <BlogPostItem
        title={talk.data.title}
        description={talk.data.description}
        date={talk.data.date}
        slug={talk.id.replace(/\.md$/, '')}
        image={talk.data.image}
      />
    ))}
  </div>
</PageLayout>
