---
// Author bio section at bottom of posts
---
<div class="author-bio">
  <img src="/images/vladimir-jovanovic.jpg" alt="Vladimir Jovanović" width="64" height="64" />
  <div>
    <p class="author-name">Vladimir Jovanović</p>
    <p class="author-description">Android Developer</p>
  </div>
</div>
