---
import SocialLinks from './SocialLinks.astro';
---
<header class="site-header">
  <a href="/about/">
    <img class="profile-photo" src="/images/vladimir-jovanovic.jpg" alt="Vladimir Jovanović" width="140" height="140" />
  </a>
  <h1>Vladimir Jovanović</h1>
  <p class="bio">Android Developer</p>
  <SocialLinks />
</header>
