---
const skills = [
  'Android Development',
  'Java',
  'Kotlin',
  'Kotlin Multiplatform',
  'Public speaking',
  'Mentoring',
  'Project Management',
  'Unit, Screenshot, and Instrumentation testing',
  'Firebase',
  'Git',
  'Wear OS development',
  'Agile - Scrum',
];
---
<ul class="skills-list">
  {skills.map(skill => (
    <li>{skill}</li>
  ))}
</ul>
